
/* header */
.rel{
background-image:url('produce.jpg');
background-size:100% 125%;
background-repeat:no-repeat;
width:100%;
height:9em;
  margin-top:0;
  padding-top:0;
  margin-right:0;
  margin-left:0;
  margin-bottom: 1.0em;
  border-style:solid;
  border-width:thin;
}
.hungr{
/*  transform: translate(-50%, 10%);
  width:100%;
  top: 50%;
  left: 50%; */
   font-size: 3.5em;
   font-weight:bold;
  margin-left:0; margin-right:0;
  padding:0;
  text-align:center;
    color: #ff5050;
/*  background-color:white;*/
  text-shadow:
  -1px -1px 0 black,
   1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}
.header{
  text-align:center;
  margin-top:0; padding-top:0;
/*  left:37.5%;
  position:absolute;  */
  color: #ff5050;
  font-size: 0.9em;
}
  .header h1{
font-size: 0.9em;
    vertical-align: middle;
    color: #ff5050;
}
.header span{
/*  height:40px;
  width:40px;
/*  background-color:white; */
}
.glyphicon{
  font-size: 0.9em;
  color: #ff5050;
  text-shadow:
  -1px -1px 0 black,
   1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
  }
body{
      background-color: #e5ffff;
      background-color: #ff5050;
      background-color:#ffff66;
      background-color: #ccccff;
      font-family:Montserrat;
      font-size: x-large;
    /*  overflow:hidden;  */
}
@media (max-width: 1000px) {
  body { font-size: large; }
  .rel {background-size:100% 100%;}
}
@media (max-width: 500px) {
  body { font-size: medium; }
    .rel {background-size:100% 150%;}
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
body, .container{
  width:100%;
  padding:0;
  margin:0;
  padding-top:0 !important;
  margin-top:0 !important;
}
/* kitchen module  */
#kitchen{
  font-size: 1.0em;
  background-color:rgba(0,0,0,0);
  width:100%;
   color:black;
   border: none;
   border-bottom: thin solid black;
   outline:none;
   margin:0;
   padding:0;
   max-width:100%;
 /*margin-bottom*/
 width:10em;
}
.add_ingredient{
 text-align:center;
}
.kitchen{
  /* padding-right:0px;
  margin-right:0px; */
}
form{
  text-align: center;
}
.ingredient_block{
  border-top: thin solid;
  margin-top: 1.0em;
  padding-right:0;
  font-size:0.6em;
}
.ingredient_block button{
  float: right;
}
/*  console and inputs  */
.console{
  margin-bottom: 2em;
/*  margin-left:0px;
  margin-right:0px;  */
  min-height: 5em;
/*  padding:0; */
}
.inputs h5{
  display:inline-block;
  clear:left;
  margin-left:0.5%;
  font-size: 0.7em;
}
#meal, #place, #radius{
  margin-left: 0.5%;
   font-size: 0.7em;
  background-color:rgba(0,0,0,0);
   color:black;
   border: none;
   border-bottom: thin solid black;
   outline:none;
   display: inline-block;
}
#place{
    width: 22.5%;
    width:12em;
}
#meal{
  width:25%;
  width:12em;
}
#radius{
  width: 5%;
  width:2em;
  text-align:center;
}
#enter{
  clear:both;
  display:block;
  margin-top:1em;
}
/*  in and out content  */
ul{
  font-size:0.7em;
}
.eat_out, .eat_in{
  text-align: center;
}
.eat_in{
  clear:left;
  float:left;
  text-align:center;
 /*  padding-right:0;  */
 margin:0;
 padding:0;
}
.eat_out{
  clear: right;
  float:right;
  text-align:center;
  margin-right:0; padding-right:0;
}
img{
  display: block;
  height:100%;
  width: 100%;
  border-style: solid;
  border-width:thin;
}
.tile{
  margin:0;
  padding:0;
  margin-bottom: 10px;
/*   margin-left:0px; margin-right:0px; */
  width: 100%;
  border-style: solid;
  border-width:thin;
  text-align: center;
}
.tile h3, h4, h5{
  clear: both;
}
/*everything else*/
.about{
  text-align: center;
  border-style: solid thin;
  float: right;
  margin-left:0;
  margin-right:0;
}
.about p{

}
.credits{
text-align:center;
margin-top:1em;
}
.about button{
    vertical-align:middle;
   display:inline-block;
}
.about_inner{
  text-indent: 1em;
 font-size:1.0em;
 text-align:left;
 margin-left:0.5em;
}
.contact_inner{
   font-size:0.8em;
  text-align:left;
}
.highlighted {
    background-color: #66ff33;
    background-attachment: ground-color:yellow;
}
