
/* header */
canvas{
  width:100%;
  height:150px;
  z-index:-1;
  padding: 0;
  margin:0;
  position: absolute;
  border-style: solid thin;
}
.rel{
  position: relative;
  background-color:rgba(0,0,0,0);
width:100%;
  margin:0;
  padding:0;
}
.header{
  margin:0;
  padding:0;
   transform: translate(-50%, 130%);
   top: 50%;
   left: 50%;
  position: absolute;
  text-align:center;
  width:100%;
}
.header h1{
font-size: 0.9em;
width:100%;
}
.hungr{
  position: absolute;
  transform: translate(-50%, 10%);
  width:100%;
  top: 50%;
  left: 50%;
   font-size: 3.3em;
  margin-left:0; margin-right:0;
  padding:0;
  text-align:center;
}
.header span{
  height:40px;
  width:40px;
}
body{
      background-color: #e5ffff;
      font-family:Montserrat;
      font-size: x-large;
}
@media (max-width: 1000px) {
  body { font-size: large; }
}
@media (max-width: 500px) {
  body { font-size: medium; }
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
body, .container{
  width:100%;
  padding:0;
  margin:0;
}
/* kitchen module  */
#kitchen{
  font-size: 1.3em;
  background-color:rgba(0,0,0,0);
  width:100%;
   color:black;
   border: none;
   border-bottom: thin solid black;
   outline:none;
 /*margin-bottom*/
}
.add_ingredient{
 text-align:center;
}
.kitchen{
  margin-top:175px;
  margin-left:0px;
  padding-left:0;
  padding-right:0px;
  margin-right:0px;
}
form{
  text-align: center;
}
.ingredient_block{
  border-top: thin solid;
  margin-top: 5px;
  padding-right:0;
  font-size:0.7em;
}
.ingredient_block button{
  float: right;
}
/*  console and inputs  */
.console{
  margin-top:175px;
  margin-bottom: 25px;
  margin-left:0px;
  margin-right:0px;
  min-height: 75px;
  padding:0;
/*  border-radius:0.2vw; */
}
.inputs h4{
  display:inline-block;
  clear:left;
  margin-left:2%;
}
#meal, #place, #radius{
  margin-left:2%;
   font-size: 0.7em;
  background-color:rgba(0,0,0,0);
   color:black;
   border: none;
   border-bottom: thin solid black;
   outline:none;
   display: inline-block;
}
#place{
    width: 25%;
}
#meal{
  width:18%;
}
#radius{
  width: 5%;
  text-align:center;
}
#enter{
  clear:both;
  display:block;
  margin-top:10px;
}
/*  in and out content  */
ul{
  font-size:0.7em;
}
.eat_in{
  clear:left;
  float:left;
  text-align:center;
}
.eat_out{
  clear: right;
  float:right;
  text-align:center;
}
.eat_out, .eat_in{
  text-align: center;
  margin-top:15px;
}
.pic{
  height:200px;
  border-style: solid thin;
  margin-bottom: 5px;
}
img{
  display: block;
  height:100%;
  width: 100%;
}
.tile{
  margin-bottom: 10px;
  width: 100%;
  border-style: solid;
  border-width:thin;
  text-align: center;
}
.tile h3, h4{
  clear: both;
}
/*everything else*/
.about{
  text-align: center;
  margin-top:190px;
  border-style: solid thin;
  float: right;
  margin-left:0;
  margin-right:0;
}
.credits{
float: right;
margin-top:25px;
}
.about button{
    vertical-align:middle;
}
.about_inner{
  text-indent: 2px;
  margin-top: 175px;
 display:none;
 text-align:left;
}
.highlighted {
    background-color: yellow;
}
